@model SelectList
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1>@ViewData["Message"]</h1>
    </div>

    <form asp-action="Index" method="post">
        <div>
            @Html.DropDownList("selectedItem", Model, "", new { @class = "form-control" })
        </div>
        <div>
            <input type="submit" value="Отправить" />
        </div>
    </form>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


