@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <a class="navbar-brand text-light" asp-controller="Home" asp-action="Index">WEB_253502_Garnik</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Home" asp-action="Lab1">Lab1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Admin" asp-page="/Index">Administration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Product" asp-action="Catalog">Catalog</a>
            </li>
        </ul>
    </div>
</div>